/* line 3, ../sass/slider.sass */
slider {
  display: inline-block;
  position: relative;
  height: 7px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle; }

/* line 11, ../sass/slider.sass */
slider span {
  white-space: nowrap;
  position: absolute;
  display: inline-block; }

/* line 16, ../sass/slider.sass */
slider span.base {
  width: 100%;
  height: 100%;
  padding: 0; }

/* line 21, ../sass/slider.sass */
slider span.bar {
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-border-radius: 1em/1em;
  border-radius: 1em/1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, silver), color-stop(1, #8d8d8d));
  background: -webkit-linear-gradient(top, silver 0, #8d8d8d 100%);
  background: -moz-linear-gradient(top, silver 0, #8d8d8d 100%);
  background: -o-linear-gradient(top, silver 0, #8d8d8d 100%);
  background: -ms-linear-gradient(top, silver 0, #8d8d8d 100%);
  background: linear-gradient(top, silver 0, #8d8d8d 100%);
  -webkit-box-shadow: inset 2px 2px 5px;
  box-shadow: inset 2px 2px 5px; }

/* line 36, ../sass/slider.sass */
slider span.bar.selection {
  width: 0%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #13b6ff), color-stop(1, #00a8f3));
  background: -webkit-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
  background: -moz-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
  background: -o-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
  background: -ms-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
  background: linear-gradient(top, #13b6ff 0, #00a8f3 100%);
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 48, ../sass/slider.sass */
slider span.pointer {
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: -8px;
  background-color: white;
  border: 1px solid black;
  z-index: 2;
  -webkit-border-radius: 1em/1em;
  border-radius: 1em/1em; }

/* line 59, ../sass/slider.sass */
slider span.pointer:after {
  content: "";
  background-color: gray;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-border-radius: 1em/1em;
  border-radius: 1em/1em; }

/* line 70, ../sass/slider.sass */
slider span.pointer:hover:after {
  background-color: black; }

/* line 73, ../sass/slider.sass */
slider span.pointer.active:after {
  background-color: red; }

/* line 76, ../sass/slider.sass */
slider span.bubble {
  cursor: default;
  top: -22px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif; }

/* line 83, ../sass/slider.sass */
slider span.bubble.selection {
  top: 15px; }

/* line 86, ../sass/slider.sass */
slider span.bubble.limit {
  color: gray; }
