<div class='row-fluid'>

    <div class="jumbotron">
        <h1>Welcome to Quarry!</h1>
        <p>Quarry is a scalable, end-to-end pipeline for big data processing. Bulk upload data or capture data streams into cost effective bulk storage, run distributed, in-memory python and SQL jobs in a batch or streaming fashion, output result sets to the appropriate, performant data store, and embed results in the frontend components/visualizations that make sense. Quarry is the most agile way for a single data scientist/designer to go from raw big data to insights users can interact with.</p>
        <p>If you ever don't understand anything and need help, you can email <a href='mailto:hello@quarry.io'>hello@quarry.io</a> for support.</p>
    </div>

</div>
