<div class='row-fluid'>

    <div class='col-lg-10 col-lg-offset-1 navbar'>

        <ul class="nav nav-pills">

            <li ui-sref-active='active'>
                <a ui-sref='sql.editor'>Query Editor</a>
            </li>

            <li ui-sref-active='active'>
                <a ui-sref='sql.running({ jobType: "sql" })'>Running Queries</a>
            </li>

            <li ui-sref-active='active'>
                <a ui-sref='sql.saved'>Saved Queries</a>
            </li>

            <li  ui-sref-active='active'>
                <a ui-sref='sql.history'>History</a>
            </li>

        </ul>

    </div>

</div>

<div class='clearfix'></div>
<div ui-view></div>
