<div class='loader-wrap' ng-if='loadingQueries'>
    <div class='loader'></div>
    <div class='loader-status'>
        Loading Saved Queries...        
    </div>
</div>

<table class='table table-striped' ng-if='!loadingQueries'>
    <thead>
        <tr>
            <th class='col-lg-3'>Title</th>
            <th class='col-lg-4'>SQL</th>
            <th class='col-lg-4'>Description</th>
            <th class='col-lg-1'></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='query in queries'>
            <td>{{ query.title }}</td>
            <td>{{ query.sql }}</td>
            <td>{{ query.description }}</td>
            <td><a ng-click='pickQuery(query)' class='fa fa-check-circle-o'> Select</a></td>
        </tr>
        <tr ng-if='!queries.length'>
            <td colspan=6>No saved queries. <a ui-sref='sql.editor'>Go create one now!</a></td>
        </tr>
    </tbody>
</table>

<ul class='pager' ng-if='!loadingQueries'>
    <li ng-if='pageBackward'>
        <a ng-click='fetchQueries(-stepSize)'><span class='fa fa-angle-left'></span> Previous</a>
    </li>
    <li ng-if='pageForward'>
        <a ng-click='fetchQueries(stepSize)'>Next <span class='fa fa-angle-right'></span></a>
    </li>
</ul>
