avro==1.7.6
fastavro==0.7.7
pymysql==0.6.1
requests==2.2.1
flask==0.10.1
PyYAML==3.10
-e git+git@github.com:quarryio/mixingboard.git#egg=mixingboard
-e git+git@github.com:quarryio/chassis.git#egg=chassis
