<div class='row-fluid'>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Getting data out of Quarry</h3>
        </div>
        <div class="panel-body">
            <p>By default, Quarry saves the results of your analytics jobs so that you can download them from the web interface. You can also set up export adapters to send the results of your jobs to external datastores.</p>
        </div>

        <table class='table table-striped'>
            <thead>
                <tr>
                    <th class='col-lg-2'>Export Target</th>
                    <th></th>
                    <th class='col-lg-3'></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>External Database</td>
                    <td>Connect an external database (such as MySQL, PostgreSQL, MongoDB or ElasticSearch) to be able to directly send data to it.</td>
                    <td valign='middle'><a ui-sref="export.wizard-database">Database Connection Wizard <span class="glyphicon glyphicon-chevron-right"></span></a></td>
                </tr>
                <!--
                <tr>
                    <td>Email Attachment</td>
                    <td>You can receive the output of jobs as attachments to emails.</td>
                    <td valign='middle'><a>Setup Email <span class="glyphicon glyphicon-chevron-right"></span></a></td>
                </tr>
                <tr>
                    <td>Webhook</td>
                    <td>The output of jobs can also be sent over HTTP to a web server with an HTTP post.</td>
                    <td valign='middle'><a>Setup Webhook <span class="glyphicon glyphicon-chevron-right"></span></a></td>
                </tr>
                <tr>
                    <td>Amazon S3</td>
                    <td>Amazon S3 is a scalable hosted storage solution. You can export your jobs to a predetermined location and then download the results at a later time.</td>
                    <td valign='middle'><a>Setup Amazon S3 Export <span class="glyphicon glyphicon-chevron-right"></span></a></td>
                </tr>
                <tr>
                    <td>Hosted MySQL</td>
                    <td>If you don't already run an external database to export to, you can choose to let Quarry host a managed MySQL server for you to export data to.</td>
                    <td valign='middle'><a>Setup Managed MySQL <span class="glyphicon glyphicon-chevron-right"></span></a></td>
                </tr>
                -->
            </tbody>
        </table>

    </div>

</div>
